rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Balance: Only one document called "current"
    match /balance/current {
      allow read, write: if true;
    }

    // Expenses: Any document inside expenses/
    match /expenses/{expenseId} {
      allow read, write: if true;
    }

    // Items: Any document inside items/
    match /items/{itemId} {
      allow read, write: if true;
    }

    // Roster: Only one document called "current"
    match /roster/current {
      allow read, write: if true;
    }
  }
}