rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Allow public read/write to ONLY one balance doc
    match /balance/{docId} {
      allow read, write: if docId == "current";
    }

    // Allow public read/write to all expenses
    match /expenses/{expenseId} {
      allow read, write: if true;
    }

    // Allow public read/write to all items
    match /items/{itemId} {
      allow read, write: if true;
    }
  }
}
