@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 54 50% 97%; /* Light Yellow */
    --foreground: 224 71.4% 4.1%;
    --card: 54 50% 97%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 54 50% 97%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 55 100% 50%; /* Vibrant Yellow */
    --primary-foreground: 55 60% 15%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 33 100% 50%; /* Vivid Orange */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 55 20% 88%;
    --input: 55 20% 92%;
    --ring: 33 100% 50%;
    --radius: 0.5rem;
    --chart-1: 55 100% 50%; /* Vibrant Yellow */
    --chart-2: 33 100% 50%; /* Vivid Orange */
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 60 9.1% 97.8%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 55 100% 50%;
    --primary-foreground: 55 60% 15%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 33 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 33 100% 50%;
    --chart-1: 55 100% 50%;
    --chart-2: 33 100% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
